body{
  background-color: #666;
  }
  h5{
  color: red;
  padding-bottom: 2px;
}

li{
  display:inline;
}
.header{
  width:100%;
}
a:hover{
  background-color: yellow;
}
.hero_image{
  width: 500px;
  height:500px;
  background-color:white;
  /*position: absolute;*/

}
#local-nav{
  position: relative;
  margin-top: 9px;
  z-index: 5201;
  left:261px;
  list-
}
.section img{
  width:600px;
  height:400px;
}
/*.nav-site-toggle*/
/*.psdui-arrow{*/
  /*background-position: o -69px;*/
  /*background-position-x:0px;*/
  /*background-position-y:-69px;*/
  /*height: 15px;*/
  /*width: 10px;*/
  /*top: 13px;*/
/**/
}
.nav-site{
  height: 100px;
  font-family: sans-serif;
  font-size: 16px;
  text-transform: full-width;
  border-color: red;
}
.nav-find{
  position: relative;
  z-index: 5201;
  }
.nav-find a{
  color: pink;
  list-style: 21px;
  text-align: center;
  background-color: green;
}
.content-box{
  margin-bottom: 10px;
  border-color: yellow;
  box-shadow: 1px 1px 6px 1px;
}
nav{
  height: 30px;
  padding: 2px 0px !important;
  padding-top:2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 0px;
  background-color: #FFFFFF;
  margin: 15px 15px 0px !important;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 0px;
  margin-left: 15px;
  border-top: 1px solid #ddd;
  width: 930px !important;
  }
  a img{
    border:none;

  }
  .insight{
    float: left;
    display: block;
  }
  .clearfix{
    clear: both;
    position: relative;
    height: 100px;
    margin-top:20px;
    background-color: blue;
}
div{
    display: block;
  }
  h4{
    font-family: sans-serif,cursive;
    font-size: 14px;
    text-transform: uppercase;
  }
  footer{
  border-top:1px solid #eee;
  background: #f5f5f5;
  padding: 30px 0;
  color: #ccc;
  margin-top:40px;
  }
